/.idea
/.vscode
/AssetsScreenshots
/Build
/Library
/Logs
/Packages
/ProjectSettings
/Temp
/UserSettings
/obj
*.fbx
*.anim
*.asset
*.controller
*.shader
*.fbx.meta
*.anim.meta
*.asset.meta
*.controller.meta
*.shader.meta
*.cs.meta
